body{
    background-color:#333333 ;
    margin: 48px 24px 0 24px ;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    
 }
 .content{  
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
 }
 .title_content{
    margin-bottom: 32px;
 }
 h1{
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
 }
 .date{
    font-size: 14px;
    margin-bottom: 8px;
    color: #e7e5e5;
    font-weight: 300;
 }
 .add_task_content{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   max-width: 600px;
 }
 .new_task{
   width: 80%;
   height: 32px;
   border-radius: 6px;
   border: none;
   padding: 8px 16px;
   background-color: #3f3f3f;
   color: #fff;
 }
 .new_task:focus{
   outline: none;
 }
.add_btn{
   width: 15%;
   background-color: #252525;
   color: #fff;
   /* border: 1px solid #fff; */
   border-radius: 6px;
   border-width: 0;
   outline: none;
   
}
.task_content{
   margin-top: 32px;
   width: 100%;
   max-width: 600px;
}
 .div_content{
    background-color: #252525;
    color: #fff;
    width: 100%;
    height: auto;
    padding: 12px 8px;
    margin: 0 0 16px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items:center;
 }
.checkbox {
   width: 16px;
   height: 16px;
   margin-right: 16px;
   background-color: #252525;
   color: #252525;
}


@media (min-width: 600px) {
   
}